WORDPRESS_TAG=6.9.4-php8.3-apache
MYSQL_TAG=8.0

WORDPRESS_CONTAINER_NAME=wordpress_app
DB_CONTAINER_NAME=wordpress_db
WORDPRESS_PORT=8080

WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_root_password
